@font-face {
  font-family: "iconfont"; /* Project id 2824660 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1632197481707') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1632197481707') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1632197481707') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai05:before {
  content: "\e679";
}

.icon-bofang1:before {
  content: "\e616";
}

.icon-lajitong1:before {
  content: "\e661";
}

.icon-16:before {
  content: "\e610";
}

.icon-icon-:before {
  content: "\e615";
}

.icon-lajitong:before {
  content: "\e603";
}

.icon-zanting:before {
  content: "\e627";
}

.icon-bofang:before {
  content: "\e628";
}

.icon-fenxiang:before {
  content: "\e604";
}

.icon-dianzan:before {
  content: "\e61f";
}

.icon-shouye-:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\e6c9";
}

.icon-sousuo_huaban1:before {
  content: "\e60d";
}

.icon-zuojiantou:before {
  content: "\e605";
}

